.card.card-transparent.text-center.mt-5
	.card-block
		%h1.card-title.text-white.text-jumbotron= "Your carreer starts, now."

		= link_to "M'inscrire.", new_player_registration_path, class: 'btn btn-primary my-3'
		= link_to "Me connecter.", new_player_session_path, class: 'btn btn-secondary'