- @player.team.games.order(datetime: :desc).each do |game|
	= render 'games/game', game: game, cplayer: @player

- if @player.team.games.empty?
	.card-text= "Pas de matches à venir pour #{@player.full_name}"