.card {
    padding-bottom:     2rem;
    margin-bottom:      1.5rem;
    background:         $white;
    color:              $black;
    border-radius:      0;
    border:             0;
    text-align:         center;
}

.card-transparent {
    background: transparent;
}