.card {
    padding:            1rem;
    background:         $white;
    color:              $black;
    border-radius:      0;
    border:             0;

    &:first-child {
        margin-top: 4rem;
    }

    .card-title {
        font-size: 1.9rem;
        font-weight: 600;
    }

    .card-subtitle {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 21px;
        margin-bottom: 1rem;
    }

    .card-text {  
        color: #333;
    }
}

.card-transparent {
    background: transparent;
}

.card-sp {
    border-bottom: 1px solid #e2e2e2
}