.jumbotron-img {
    padding:                13rem;
    background:             asset-url('background/homepage.jpg') no-repeat;
    background-size:        cover;
    -webkit-filter:         brightness(0.9) contrast(1.8);
    filter:                 brightness(0.9) contrast(1.8);
    background-position:    30% 40%;
}

.placeholder-img-1 {
    padding:                100%;
    background:             asset-url('background/homepage.jpg') no-repeat;
    background-size:        cover;
    -webkit-filter:         brightness(0.9) contrast(1.8);
    filter:                 brightness(0.9) contrast(1.8);
}