.jumbotron-img {
    padding: 9rem;
    background: asset-url('background/homepage.jpg') no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.9) contrast(1.8);
    filter: brightness(0.9) contrast(1.8);
}
