body {
    background-color: transparent;
    font-family: "Roboto", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #222222;
}

.wrapper {
    margin-bottom: 2rem;
}

a {
    color: $secondary;
    &:hover { 
        text-decoration: none !important; 
    }
}

.container {
    padding: 0;
}

.row {
    margin-bottom: 3rem;
}

.panel-gray {
    padding:        1rem;
    background:     #3a3a3a;
    color:          white;
    margin:         4px;
    border-radius:  2px;

    &--label {
        font-size: 10px;
    }
}

.panel-white {
    padding:        1rem;
    background:     white;
    color:          #3a3a3a;
    border:         1px solid #3a3a3a;
    margin:         4px;
    border-radius:  2px;

    &--label {
        font-size: 10px;
    }
}