body {
    // background: url('background/homepage.jpg');
    // background-position: 50% 20%;
}

.row {
    margin-bottom: 3rem;
}

.wrapper {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.navbar-s1 {
    background: black;
    text-align: center;
    padding:    0;
}

.navbar-s2 {
    background:     $primary;
    opacity:        0.9;
    padding-left:   10%;
    padding-right:  10%;
    a { color:      $secondary; }
}