body {
    background-color: $brand-secondary;
}

.row {
    margin-bottom: 3rem;
}

.card {
    margin-bottom: 1.5rem;   
}

.wrapper {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.navbar-s1 {
    background: white;
    text-align: center;
}