.player-position {
    padding:        0.8rem;
    border:         0.2rem solid black;
    background:     #fee101;
    color:          #000;
    border-radius:  100px;
    letter-spacing: -0.05rem;
}