// Color
$black: #000;
$white: #fff;

$body-bg: $white;

$brand-primary:     #fee101;
$brand-secondary:   #000;

$primary:   $brand-primary;
$secondary: $brand-secondary;

// Buttons
$btn-primary-color:     $black;
$btn-secondary-color:   $black;

// Radius
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;